@model IEnumerable<NanoStore.Models.Producto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.NombreCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnidadesEnAlmacen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetalleProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagenPr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.NombreCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioUnitario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnidadesEnAlmacen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DetalleProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagenPr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaIngreso)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductoID })
        </td>
    </tr>
}

</table>
